# bigquery info
project_id = 
dataset_id = 
table_id = 

# postgres connection
postgres_pw = 
postgres_connection_string =
postgres_table_name = 

# motherduck info
motherduck_db_name = 
motherduck_table_name = 

# duckdb info (local database)
duckdb_database = "streaming_data.duckdb"  # Path to your local DuckDB file
duckdb_table_name = 